OPENAI_API_KEY=
DUST_API_KEY=
DUST_WORKSPACE_ID=
DUST_AGENT_ID=McsricPkF8
ENABLE_DUST_CALLS=false
PIPELEX_API_KEY=
ENABLE_PIPELEX_CALLS=false
GRADIUM_API_KEY=
JINKO_API_KEY=

DATABASE_URL=

NEXT_PUBLIC_API_URL=http://localhost:8000
